.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}

.badge-no {
    background-color: white;
}

.dot {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}