.more-screen .icon-row {
    margin-top: 30px;
}

.more-suggestion {
    border-top: var(--main-border);
}

.more-suggestion__title {
    font-size: 13px;
    padding-top: 15px;
}

.more-suggestion span {
    color: var(--gray);
}